.button{
  cursor: pointer;
  color: #ffffff;
  background-color: #E91C5D;
  padding: 10px 55px 10px ;
  display: inline-flex;
  border-radius: 4px;
  border: none
}
  
  .buttonText {
    color: var(--white);
  }
  