
.container{ 
    max-width: 540px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 40px;
}

.gallery-container{ 
    overflow-x: auto;

}

.left, .right{ 
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    font-size: 30px;
    background-image: linear-gradient(to left, black, white 200);
    border: none;
    transition: all .6s ease-in-out;
    z-index: 2;
    opacity: .3;

}

.left:hover, .right:hover{ 
    cursor: pointer;
    opacity: 1;
}

.right{ 
    right: 0;
}

.gallery{ 
    display: flex;
    flex-shrink: 1;
    gap: 15px;
}

.img{ 
    height: 100%;
    width: 100%;
    opacity: .3;
}

.current-img{ 
    opacity: 1;
}
