.container {
  background-image: url("../src/assets/Body.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-attachment: fixed;
  background-position: center;
  background-color: #000000;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.detalhes {
  margin-top: 2rem;
  width: 65%;
  height: 80%;
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.7);
  border: solid 1px var(--white);
}

