.Container {
    background-image: url("../src/assets/Body.png");
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: center;
    background-position-y: 20%;
    background-color: #000000;
    height: 100vh;
  }


  .logoLove{
    color: #FFF;
    font-size: 180%;
    display: flex;
    justify-content: center;
}

  
.myImages{
  align-items: center;
  margin-top: 500px;
}
