.Container {
    background-image: url("../src/assets/Body.png");
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: center;
    background-position-y: 30%;
    background-color: #000000;
    height: 100vh;
  }

  .logoLove{
    color: var(--gray-200);
    font-size: 180%;
    display: flex;
    justify-content: center;
    margin: 600px;
}
  
  
